<div class="top_content">
  <h1 class="section_title centered">LOREBOOK</h1>
  <a href="/lorebook/new" class="main_button darkened">New Lorebook</a>
</div>
<div class="main_area">
  <% lorepieces.forEach(lorepiece => { %>
  <div class="card_area">
    <div class="card_details">
      <h3 class="article_title"><%= lorepiece.title %></h3>
      <span class="text_muted"
        ><%= lorepiece.createdAt.toLocaleDateString() %>
      </span>
      <div class="card_text"><%= lorepiece.description %></div>
      <div class="button_area">
        <a href="lorebook/<%= lorepiece.slug %>" class="sub_button">View</a>
        <a href="lorebook/edit/<%= lorepiece.id %>" class="sub_button">Edit</a>
        <form
          action="/lorebook/<%= lorepiece.id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit" class="sub_button">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% }) %>
</div>
