<div class="main_area">
  <h2 class="section_title"><%= lorepiece.title %></h2>
  <div class="text-muted mb-2">
    <%= lorepiece.createdAt.toLocaleDateString() %>
  </div>
  <div class="button_area" style="margin-top: 0px;">
    <a href="/lorebook" class="sub_button">All Lorebooks</a>
    <a href="/lorebook/edit/<%= lorepiece.id %>" class="sub_button">Edit</a>
  </div>
  <div class="article_text">
    <img class="image-side" src=" <%=lorepiece.imagePath%>" />
    <%- lorepiece.sanitizedHtml %>
  </div>
</div>
